html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
em {
	font-style: italic;
}
html {
	min-width: 442px;
}
body {
	font: normal 16px Helvetica, Arial, sans-serif;
	text-align: center;
	margin: 0 50px 0 50px;
}
header {
	background-color: #5E528A;
	color: white;
	padding: 10px;
	margin: 0 -50px 0 -50px;
}
h1 {
	font-size: 2em;
	padding: 10px;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.35em;
	font-weight: 600;
	padding: 30px 0 30px 0;
}
main{

}
div {
	background-color: #eee;
	border-radius: 4px;
}
button {
	margin: 20px;
	font-size: 16px;
	border: 1px solid purple;
	border-radius: 5px;
	color: purple;
	background-color: transparent;
}
button.add_contact {
	width: 140px;
	height: 45px;
}
.add_contact:hover {
	background-color: purple;
	color: white;
}
#tools .add_contact {
	float: left;
	margin-left: 50px;
}
#search {
	float: right;
	margin: 25px 50px 20px 0;
}
#tools:after {
	content: "";
	display: table;
	clear: both;
}
#no_contacts,
#no_contacts_found {
	margin: 40px 0 30px 0;
	padding: 30px 0 10px 0;
	display: none;
}
/* FORM */
#new_contact {
	display: none;
	background-color: white;
}
#new_contact > h2 {
	padding: 25px 0 10px 0;
	border-bottom: 1px solid #ddd;
}
#new_contact button {
	width: 200px;
	height: 40px;
}
fieldset:first-child {
	display: block;
	margin-top: 15px;
}
fieldset.inputs {
	display: inline-block;
	width: 400px;
	margin-bottom: 20px;
}
input[type="text"],
input[type="email"],
input[type="tel"] {
	padding: 8px;
	font-size: .9em;
	border: 1px solid lightgrey;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	border-radius: 5px;
	width: 250px;
}
p.notice {
 margin-bottom: 30px;
 text-align: center;
 display: none;
}
form div {
	background-color: #fff;
}
form fieldset.inputs div {
	margin-bottom: 30px;
	text-align: right;
}
fieldset.inputs > div:last-child {
	margin-bottom: 20px;
}
div.invalid p,
fieldset.inputs div.invalid label {
	color: red;
}
div.invalid > p {
	position: relative;
	right: -20px;
	display: block;
}
div.invalid input {
	border-color: red;
}
input[type="radio"] {
	margin-right: 20px;
}
fieldset#occupation > p {
	color: red;
}

/* CONTACTS */
#contacts {
	background-color: white;
	text-align: left;
	padding: 15px;
}
.contact {
	display: inline-block;
	background-color: white;
	border: 1px solid #aaa;
	padding: 0 10px 0 10px;
}
dt {
	font-weight: 600;
}
dd {
	text-indent: 10px;
	margin-bottom: 10px;
}

footer {
	border-top: 1px solid lightgrey;
}

